* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black !important;
    background-color: rgb(210, 210, 210);
}

.inicio {
    background-color: grey;
    margin: 15px 15px;
    /* border:  */
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 15px;
}

a {
    color: black !important;
}