* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black !important;
    background-color: rgb(210, 210, 210);
}

.inicio {
    background-color: grey;
    margin: 15px 15px;
    border-radius: 10px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 15px;
}

a {
    color: black !important;
}

.comeco {
    background-color: grey;
    padding-bottom: 1px;
    margin: 10px;
    border-radius: 15px;
}

.titulo {
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.paragrafo {
    margin: 10px;
}

#voltar {
    position: relative;
    left: 91%;
    border-radius: 5px;
    border-color: black;
}